@use "variables" as *;

#hobbies-scroll {
  display: flex;
  gap: $space-6;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: $space-4;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
  }

  &::-webkit-scrollbar-track {
    background: #eee
  }
}
